*{
	margin:0;
	padding:0;
}


 		/*header*/
li a{
	text-decoration: none;
	color: white;
	margin-left: 10px;	
}

li a:hover{
	text-decoration: underline;

}

ul{
	list-style-type: none;
	background-color: #af1111;
	font-size: 20px;
	margin-left: 30%;
	margin-right: 30%;
}

       /*body*/
body{
	background-color: grey;
}

h1{
	font-size: 65px;
	font-family: ravie;
	margin-left: 30%;
	color: white;	
}

h2{
	font-size: 32px;
	padding-top: 15px;
	padding-bottom: 10px;
}

#inpt{
	float: right;
	margin-right: 29%;	
}

#submit{
	margin-left: 48%;
	margin-top: 25px;
	margin-bottom: 20px;
}

#container{
	background-color: white;
	margin-left: 30%;
	margin-right: 30%;
	padding-bottom: 10px;
}

#content{
	margin-left: 20px;

}



		/*footer*/
#footer{
	background-color: #555243;
	color:white;
	margin-left: 30%;	
	margin-right: 30%;
	text-align: center;
}